<ion-header>

</ion-header>

<ion-content>
  <div class="login-header ion-padding">
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="" class="logo-img">
  </div>

  <div class="login-form">
    <form>
    <div class="group">      
      <input type="text" mask="000.000.000-00"required #count_1 (keyup)="0">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>CPF</label>
      <span class="count_caracter"><span>{{count_1.value?.length-3}}</span>/11</span>
    </div>
      
    <div class="group">      
      <input type="text"  matInput mask="00/00/0000" required required #count_2 (keyup)="0">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Data</label>
      <span class="count_caracter"><span >{{count_2.value?.length}}</span>/10</span>
    </div>
    <ion-button [routerLink]="['/home/dashboard']" routerLinkActive="router-link-active"   color="warning">ENTRAR</ion-button>
  </form>
  </div>
</ion-content>