<ion-header>

</ion-header>

<ion-content>
  <div class="login-header ion-padding">
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="" class="logo-img">
  </div>

  <div class="login-form">
    
    <ion-item>
      <ion-label class="login-input" position="floating">CPF</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <span class="count_caracter"><span (count_character) = "count()">0</span>/11</span>

    <ion-item>
      <ion-label class="login-input" position="floating">Data</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <span class="count_caracter"><span class="count_"(count_character) = "count()">0</span>/10</span>
    
    <ion-button color="warning">ENTRAR</ion-button>

  </div>
</ion-content>