ion-content{
    --background: #eceff4;
    }
    ion-item{
        font-size: 3.4vw;
    }
    .table{
        font-size: 3.4vw;
        --border-radius:8%;
        --border-width:1px;
    }
    
    .header{
        font-weight: bold;
    }
    .icon{
        --border-style: none;
    }