<ion-content id="home_content">
  <ion-toolbar class="title">
    <ion-title>Atendimento Póstumo</ion-title>
  <ion-title size="small">24h disponível</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Fortaleza/Parangaba</ion-title>
    <ion-button expand="full" shape="round">
    <ion-icon name="call"></ion-icon>
    Solicitar Atendimento
    </ion-button>
    <ion-button expand="full" shape="round" href="{{whatsapp_message}}" target="_blank">
      <ion-icon name="logo-whatsapp"class="whatsapp"></ion-icon>
      Atendimento via VhatsApp
      </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Fortaleza/Centro</ion-title>
    <ion-button expand="full" shape="round">
    <ion-icon name="call"></ion-icon>
    Solicitar Atendimento
    </ion-button>
    <ion-button expand="full" shape="round"href="{{whatsapp_message}}" target="_blank">
      <ion-icon name="logo-whatsapp"class="whatsapp" ></ion-icon>
      Atendimento via VhatsApp
      </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Baturité</ion-title>
    <ion-button expand="full" shape="round">
    <ion-icon name="call"></ion-icon>
    Solicitar Atendimento
    </ion-button>
  </ion-toolbar>
</ion-content>

