ion-menu-button {
    color: var( --ion-color-primary-contrast);
  }
  img.menu-logo{
    width:30%;
    margin-left: 30%;
    display: block;
  }
  
  /*  === SLIDE ===*/
  ion-slides img{
      max-width: 100%;
      
      margin: auto;
  }
  /*  === MENU === */
  .tools-menu{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 2rem;
  }
  .tools-menu ion-tab-bar{
    width: 8rem;
    height: 8rem;
    --border:none;
  }
  .tools-menu ion-label{
    font-size: 10px;
  }
  div.tools-menu ion-icon{
    font-size:64px;
    color: var(--toolbar-color);
  }
  